name: Build IsThereAnyDeal for Deck

on:

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    # Allows this workflow to be called by other workflows
    workflow_call:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: '18'

            - name: Install pnpm
              run: npm i -g pnpm@8.5.1

            - name: Install Dependencies
              run: pnpm install

            - name: Download Decky CLI
              run: |
                mkdir /tmp/decky-cli
                curl -L -o /tmp/decky-cli/decky "https://github.com/SteamDeckHomebrew/cli/releases/download/0.0.2/decky-linux-x86_64"
                chmod +x /tmp/decky-cli/decky
                echo "/tmp/decky-cli" >> $GITHUB_PATH
            
            - name: Build plugin
              run: |
                decky plugin build -b -o /tmp/output -s directory $GITHUB_WORKSPACE

            - name: Unzip plugin
              run: |
                  mkdir /tmp/artifacts -p
                  unzip /tmp/output/IsThereAnyDeal-DeckyPlugin.zip -d /tmp/artifacts
            
            - name: Upload package
              uses: actions/upload-artifact@v4
              with:
                  name: isthereanydeal-for-deck
                  path: /tmp/artifacts/IsThereAnyDeal-DeckyPlugin
